parameters:
	ignoreErrors:
		-
			message: "#^Call to method getIndex\\(\\) on an unknown class OpenSearch\\\\Endpoints\\\\AbstractEndpoint\\.$#"
			count: 1
			path: src/Instrumentation/OpenSearchInstrumentation.php

		-
			message: "#^Class OpenSearch\\\\Client not found\\.$#"
			count: 1
			path: src/Instrumentation/OpenSearchInstrumentation.php

		-
			message: "#^Class OpenSearch\\\\Namespaces\\\\IndicesNamespace not found\\.$#"
			count: 1
			path: src/Instrumentation/OpenSearchInstrumentation.php

		-
			message: "#^PHPDoc tag @var for variable \\$endpoint contains unknown class OpenSearch\\\\Endpoints\\\\AbstractEndpoint\\.$#"
			count: 1
			path: src/Instrumentation/OpenSearchInstrumentation.php

		-
			message: "#^Parameter \\$client of anonymous function has invalid type OpenSearch\\\\Client\\.$#"
			count: 2
			path: src/Instrumentation/OpenSearchInstrumentation.php

		-
			message: "#^Parameter \\$indices of anonymous function has invalid type OpenSearch\\\\Namespaces\\\\IndicesNamespace\\.$#"
			count: 2
			path: src/Instrumentation/OpenSearchInstrumentation.php

		-
			message: "#^Cannot call method getPathInfo\\(\\) on Symfony\\\\Component\\\\HttpFoundation\\\\Request\\|null\\.$#"
			count: 1
			path: src/Instrumentation/ShopwareInstrumentation.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Instrumentation/ShopwareInstrumentation.php

		-
			message: "#^Parameter \\#1 \\$spanName of method OpenTelemetry\\\\API\\\\Trace\\\\TracerInterface\\:\\:spanBuilder\\(\\) expects non\\-empty\\-string, string given\\.$#"
			count: 1
			path: src/Instrumentation/SymfonyInstrumentation.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Instrumentation/SymfonyInstrumentation.php

		-
			message: "#^Method Shopware\\\\OpenTelemetry\\\\Instrumentation\\\\TwigInstrumentation\\:\\:extractTemplateName\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Instrumentation/TwigInstrumentation.php

		-
			message: "#^Method Shopware\\\\OpenTelemetry\\\\Messenger\\\\EnvelopePropagator\\:\\:get\\(\\) has parameter \\$carrier with no type specified\\.$#"
			count: 1
			path: src/Messenger/EnvelopePropagator.php

		-
			message: "#^Method Shopware\\\\OpenTelemetry\\\\Messenger\\\\EnvelopePropagator\\:\\:keys\\(\\) has parameter \\$carrier with no type specified\\.$#"
			count: 1
			path: src/Messenger/EnvelopePropagator.php

		-
			message: "#^Method Shopware\\\\OpenTelemetry\\\\Messenger\\\\EnvelopeStamp\\:\\:__construct\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Messenger/EnvelopeStamp.php

		-
			message: "#^Access to constant SPAN_KIND_CONSUMER on an unknown class Opentelemetry\\\\Proto\\\\Trace\\\\V1\\\\Span\\\\SpanKind\\.$#"
			count: 1
			path: src/Messenger/MessageBusSubscriber.php

		-
			message: "#^Method Shopware\\\\OpenTelemetry\\\\Messenger\\\\MessageBusSubscriber\\:\\:onHandled\\(\\) has parameter \\$event with no type specified\\.$#"
			count: 1
			path: src/Messenger/MessageBusSubscriber.php
